/* Document styling */
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 840px;
    margin: 0 auto 50px auto;
    font-size: 14px;
}

.twitter-share-button {width: 82px !important;}









/* SVG styling */
svg {
    width: 840px;
    height: 600px;
    font-family: helvetica, sans-serif;
}

path, line {
    stroke: #777;
}

